# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/

# Environment variables
.env
.env.*

# SQLite
*.db

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
terraform-state-backup.json

# AWS credentials / keys
.aws/
*.pem

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store